<%- include('./nav') %>
<div id="lol">
    <form action="/" method="POST" id="form">
    <div id="div1">
            <div id="name-text">enter your name</div>
            <input type="text" id="nam" name="name" placeholder="enter name">
    </div>
    
    <div id="div2">
        <div id="name-text">enter your quote</div>
        <textarea type="text" id="quot" name="quote" placeholder="enter your quote"></textarea>
    </div>
    
    <button type="submit" id="btn">Add Quote</button>
    </form>

</div>
</body>
</html>