*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nav{
    display: grid;
    grid-template-columns: 7fr 2fr 2fr 3fr;
    background-color:green;
    padding:10px 5px ;
}

#nav h1 a:hover{
    color:white;
}

a{
    text-decoration: none;
    color:inherit;
}